# rename to .env

# DATABASE
DB = postgresql
DB_DRIVER = asyncpg
DB_USER = user #!
DB_PASSWORD = pass #!
DB_HOST = auth_db
DB_PORT = 5432
DB_NAME = auth_data

# POSTGRES
POSTGRES_USER = ${DB_USER}
POSTGRES_PASSWORD = ${DB_PASSWORD}
POSTGRES_DB = ${DB_NAME}
